<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <h4 style="margin-bottom: 100px;">商品編集</h4>

      <% if @item.errors.any?%>
        <h4>全ての項目を入力してください</h4>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

        <%= form_with model: [:admins, @item], local: true do |f| %>
          <div class="form-group col-xs-4">
            <%= attachment_image_tag @item, :image, :fill, 250, 200, format: 'jpeg' %>
            <%= f.attachment_field :image %>
          </div>
            <div class="form-group col-xs-8">
              <div class="form-inline col-sm-12" style="margin-bottom: 10px;" >
                <%= f.label "商品名", class: "col-xs-3" %>
                <%= f.text_field :name, class: " col-xs-6" %>
              </div>
              <div class="form-inline col-sm-12" style="margin-bottom: 10px;" >
                <%= f.label "商品説明", class: "col-xs-3" %>
                <%= f.text_area :introduction, class: " col-xs-6" %>
              </div>
              <div class="form-inline col-sm-12" style="margin-bottom: 10px;" >
                <%= f.label "ジャンル", class: "col-xs-3" %>
                <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--", class: "col-xs-6" %>
              </div>
              <div class="form-inline col-sm-12" style="margin-bottom: 10px;" >
                <%= f.label "税抜価格", class: "col-xs-3" %>
                <%= f.text_field :price, class: " col-xs-6" %>
              </div>
              <div class="form-inline col-sm-12" style="margin-bottom: 10px;" >
                <%= f.label "販売ステータス", class: "col-xs-3" %>
                <%= f.select :is_active ,[['販売中',true],['販売停止中',false]], include_blank: "--選択してください--", class: " col-xs-6" %>
              </div>
            </div>
            <div class="form-group pull-right">
              <%= f.submit "変更を保存", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
  </div>
</div>