<div class="container">
 <div class="row">
  <div class="col-xs-offset-1 col-xs-11">
    <h4 class="head-line col-sm-4">会員の方はこちらからログイン</h4>

    <h5 class="text-danger"><%= flash[:error] %></h5><br>
    
　　　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  　　　　<div class="field form-group col-xs-8">
         <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-8 form-control-static" %>
        </div>

        <div class="field form-group col-xs-8">
         <%= f.label :パスワード, class: "col-sm-4 control-label" %>
         <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-8 form-control-static" %>
        </div>

        <div class="col-xs-6 pull-right">
          <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name), class: "btn-link" %>
      　</div>

        <div class="field form-group col-xs-5">
         <%= f.submit "ログイン",class: "btn btn-primary pull-right btn-lg" %>
        </div><br>
        <div class="col-xs-9">
      　　<p class="head-line col-sm-12">登録がお済みではない方</p></br>
      　　<span class="text-left new-link">
       　　 <%= link_to "こちら", new_registration_path(resource_name), data: {"turbolinks" => false}, class: "btn-link" %>から新規登録を行ってください。
      　　</span>
    　　</div>
      <% end %>
  </div>
 </div>
</div>
