<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar">
    <div class="container">
      <div class="row">
        <nav class="nav navbar-nav navbar-left">
          <div class="">
            <h1>LOGO</h1>
          </div>
        </nav>
        <div class="">
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to "商品一覧", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "会員一覧", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "注文一覧", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "ログアウト", "#", method: :delete, class: "btn btn-outline-secondary", type: "button" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "About", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "商品一覧", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "新規登録", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
                <li>
                  <%= link_to "ログイン", "#", class: "btn btn-outline-secondary", type: "button" %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

    <%= yield %>

  </body>
</html>
